.idea
.project
.classpath
.settings
*.iml
*.swp
*.orig
*.rej
target
sakai-demo.tar.gz
sakai-demo.zip
.directory
.sass-cache
.metadata
.DS_Store
*nb-configuration.xml
.envrc
tracs-docker/components
tracs-docker/lib
tracs-docker/webapps
rsf/sakai-rsf-web/templates/overlays/
rsf/sakai-rsf-web/test/overlays/
velocity.log
