[submodule "tracs-docker"]
	path = tracs-docker
	url = git@git.txstate.edu:its/tracs-docker.git
[submodule "irubric"]
	path = irubric
	url = https://github.com/txstate-etc/irubric.git
	branch = tracs
[submodule "blogwow"]
	path = blogwow
	url = https://github.com/txstate-etc/blogwow.git
	branch = tracs
[submodule "turningpoint"]
	path = turningpoint
	url = git@git.txstate.edu:its/turningpoint.git
	branch = tracs
[submodule "melete"]
	path = melete
	url = https://github.com/txstate-etc/melete.git
	branch = tracs
[submodule "etudes-util"]
	path = etudes-util
	url = https://github.com/txstate-etc/etudes-util.git
	branch = tracs
[submodule "lticontact"]
	path = lticontact
	url = https://github.com/txstate-etc/lticontact.git
	branch = tracs
[submodule "tracs-tk20"]
	path = tracs-tk20
	url = git@git.txstate.edu:its/tracs-tk20.git
	branch = tracs
[submodule "turnitin"]
	path = turnitin
	url = https://github.com/txstate-etc/turnitin.git
	branch = tracs
[submodule "bbb"]
	path = bbb
	url = https://github.com/txstate-etc/bbb-tool.git
	branch = tracs
[submodule "tracs-pearson"]
	path = tracs-pearson
	url = https://git.txstate.edu/its/tracs-pearson.git
	branch = tracs
[submodule "tracs-examity"]
	path = tracs-examity
	url = ./tracs-examity/
	branch = tracs
