[submodule "turningpoint"]
	path = turningpoint
	url = https://git.txstate.edu/its/turningpoint.git
[submodule "blogwow"]
	path = blogwow
	url = https://github.com/txstate-etc/blogwow.git
	branch = 11.x
[submodule "irubric"]
	path = irubric
	url = https://github.com/txstate-etc/irubric
[submodule "etudes-util"]
	path = etudes-util
	url = https://github.com/txstate-etc/etudes-util
[submodule "lticontact"]
	path = lticontact
	url = https://github.com/txstate-etc/lticontact
[submodule "melete"]
	path = melete
	url = https://github.com/txstate-etc/melete
[submodule "tracs-docker"]
	path = tracs-docker
	url = https://git.txstate.edu/its/tracs-docker.git
