//Customization beyond what Sakai makes easy


//variables used in this file should have default values because they
//might not be defined in the custom variables file 

$top-header-text-color: $white !default;
$selected-tool-border: none !default;
$selected-tool-background: $white !default;

$tool-tab-background: #F0F0F0 !default;
$tool-tab-border: silver !default;
$tool-tab-background-hover: #f0f0f0 !default;

$site-hierarchy-separator-color: $swapped-view-text-color !default;

// $sites-nav-submenu-item-hover: $sites-nav-submenu-item-background !default;
// $sites-nav-submenu-item-border-top: none !default;
// $sites-nav-submenu-item-border-bottom: none !default;

// $tool-tab-color: #666 !default;

$tool-title-nav-link-background: $tool-tab-background-color !default;
$tool-title-nav-link-color: $primary-color !default;
$tool-title-nav-link-border: $tool-border-color !default;
$tool-title-nav-link-background-hover: $tool-background-color !default;
$tool-title-nav-link-color-hover: $primary-color !default;

// $user-menu-background: $tool-tab-background-color !default;
// $user-menu-color: $primary-color !default;
// $user-menu-background-hover: $tool-tab-background-color !default;
// $user-menu-color-hover: lighten( $primary-color, 10% ) !default;
// $user-menu-userdata-separator: $tool-border-color !default;

// $small-action-button-color: $tool-tab-background-color !default;

// //mobile
// $mobile-background: linear-gradient( to bottom, #b6c3d4, #d9cdcd, #c4ccd7, #a6c2df ) fixed !default;
$mobile-tools-and-sites-bar-background: lighten($tool-menu-color, 15% ) !default;
// $mobile-tools-and-sites-bar-color: $background-color !default;
$mobile-breadcrumbs-bar-background: $primary-color !default;
$mobile-breadcrumbs-bar-color: $background-color !default;

.Mrphs-topHeader {
  a{
    color: $top-header-text-color;
  }
  .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    margin: 15px 0px;
    @media (max-width: $break-small-end){
      margin: 0px;
      height: 40px;
    }
  }
}

//Change default color of Tools and Sites bar on mobile
.Mrphs-skipNav__menu{
  @media (max-width: $break-small-end){
     background: $mobile-tools-and-sites-bar-background;
  }
}

.Mrphs-userNav__submenuitem--profilepicture{
  border: 1px solid $avatar-border-color;
}

#toolMenu ul li a, #subSites ul li a {
    padding: 0.7em 0.5em;
    text-align: left;
}

#toolMenu ul li .Mrphs-toolsNav__menuitem--icon, #subSites ul li .Mrphs-toolsNav__menuitem--icon {
    margin: 0 0.25em 0 0;
    display: inline-block;
    width: 18%;
    height: 100%;
    padding: 0 0.2em 0 0.2em;
}

#toolMenu ul li a .Mrphs-toolsNav__menuitem--title, #subSites ul li a .Mrphs-toolsNav__menuitem--title{
  display: inline-block;
  width: 75%;
  white-space: pre;
  overflow: hidden;
  vertical-align: middle;
}

//strange blank image at top of tool menu
.img_site_toolmenu {
  display: none;
}

//instruction boxes: Sakai creates variables for these colors but doesn't use them.
.instruction{
   background: $info-background-color !important;
   border-color: $info-color !important;
   color: #000 !important;
}

//Change default color of Breadcrumbs bar on mobile
.Mrphs-siteHierarchy{
  min-height: 55px;
  .Mrphs-hierarchy--siteName, .Mrphs-hierarchy--siteNameSeparator, .Mrphs-hierarchy--toolName{
    display: none;
    @media (max-width: $break-small-end){
      display: inline-block;
    }
  }
  .Mrphs-hierarchy--siteNameSeparator{
    color: $site-hierarchy-separator-color;
  }

  @media (max-width: $break-small-end){
    background: $mobile-breadcrumbs-bar-background;
    a{
      color: $mobile-breadcrumbs-bar-color;
    }
  }
}

.tracs-sites #linkNav ul.Mrphs-sitesNav__menu {
  li.Mrphs-sitesNav__menuitem {
    margin: 0 0.75em 0.75em 0;
    padding: .2em;
    position: relative;
  }
  .Mrphs-sitesNav__submenuitem {
    a {
      margin: 0 0 0 0;
    }
  }
}

.navIntraTool li span a{
  background-color: $tool-tab-background;
  border: 1px solid $tool-tab-border;
  &:hover{
    background-color: $tool-tab-background-hover;
  }
}

//tool buttons (link and help, among others)
.Mrphs-toolTitleNav .Mrphs-toolTitleNav__link{
  background: $tool-title-nav-link-background;
  color: $tool-title-nav-link-color;
  border-color: $tool-title-nav-link-border;
  &:hover{
    background: $tool-title-nav-link-background-hover;
    text-decoration: none;
    color: $tool-title-nav-link-color-hover;
  }
}

// //get rid of background gradient used on mobile
body.Mrphs-portalBody{
  @media (max-width: $break-small-end){
     background: none;
  }
}

#mastLogin ul#quickLinks {
  display: none;
  @media (max-width: $break-small-end){
     display: block;
  }
}

.quick-links {
  display: flex;
  @media (max-width: $break-small-end){
     display: none;
  }
  .qlink {
    padding: 0px 5px;
    text-decoration: none;
    & + .qlink {
      border-left: 1px solid $top-header-text-color; 
    }
    &:hover {
      text-decoration: underline;
      color: $top-header-text-color;
    }
  }
}

