/* TRACS yellow skin Customization*/

@import "tracs-skins/tracs-all";

/* Color palette */
$yellow:        #FBE493;
$dark-teal:     #5E727A;
$dark-yellow:   #f9D862;
$corn:          #FBE493;
$platinum:      #DFE4E7;
$brown:         #5A4801;
$medium-blue:   #326B97;
$arsenic:       #3A4448;
$off-white:     #EAE9E8;
$warm-silver:   #a9afa1;
$snow:          #fafafa;
$gold:          #8D734A;

/* Top Header */
$top-header-background: $yellow;
$top-header-text-color: $charcoal;

/* This is the gradient in the header of the page, but we don't want a gradient. */
$header-gradient-a: $white;
$header-gradient-b: $white; // Maria what color should this be?
$header-gradient-c: $white;
$header-gradient-d: $white;

/* Tool Menu */
$tool-menu-background-color: $yellow;
$tool-menu-color: $charcoal;
$tool-menu-current-background-color: $white;
$tool-menu-current-color: $brown;
$tool-menu-current-border-color: $brown;
$tool-menu-hover-color: $charcoal;
$tool-menu-hover-background-color: $dark-yellow;
$tool-tab-background-color: $yellow;

/* Information section */
$info-color:                $dark-teal;
$info-background-color:     $platinum;

/* Intratool Nav */
$tool-tab-background: $off-white;
$tool-tab-border: $warm-silver;
$tool-tab-background-hover: $snow;

/* General button colors */
$button-color-text-color: $white;
$button-color-border-color: $white;
$button-color-background-color: $gold;
$button-color-background-secondary-color: mix($gold, $black, 70);

$tool-title-nav-link-background: none;
$tool-title-nav-link-color: $charcoal;
$tool-title-nav-link-border: $gold;
$tool-title-nav-link-background-hover: $off-white;
$tool-title-nav-link-color-hover: $charcoal;

$site-hierarchy-separator-color: $arsenic;

$sites-nav-menu-item-background:            $platinum;
$sites-nav-menu-item-color:                 $charcoal;
$sites-nav-menu-item-color-hover:           $charcoal;
$sites-nav-menu-item-border-top:            1px solid darken($platinum, 20%); 
$sites-nav-menu-item-border-right:          1px solid darken($platinum, 20%);
$sites-nav-menu-item-border-bottom:         1px solid darken($platinum, 20%);
$sites-nav-menu-item-border-left:           1px solid darken($platinum, 20%);
$sites-nav-menu-item-selected-background:   $dark-teal;
$sites-nav-menu-item-selected-color:        $white;
$sites-nav-menu-item-selected-color-hover:  $white;
$sites-nav-menu-item-selected-border-top:   1px solid darken($dark-teal, 20%); 
$sites-nav-menu-item-selected-border-right: 1px solid darken($dark-teal, 20%);
$sites-nav-menu-item-selected-border-bottom:1px solid darken($dark-teal, 20%);
$sites-nav-menu-item-selected-border-left:  1px solid darken($dark-teal, 20%);

$topNav-text-color: $arsenic;

/* Tool customizations */
$calendar-event-background-color: darken($corn, 40%);
$calendar-event-text-color: $charcoal;

/* mobile */
$mobile-tools-and-sites-bar-background: $white;
$mobile-breadcrumbs-bar-background: $platinum;
$mobile-breadcrumbs-bar-color: $charcoal;


