//Customization beyond what Sakai makes easy


//variables used in this file should have default values because they
//might not be defined in the custom variables file 

$top-header-text-color: #ffffff !default;
$selected-tool-border: none !default;
$selected-tool-background: #ffffff !default;
$avatar-border-color: transparent !default;

$tool-tab-background: #F0F0F0 !default;
$tool-tab-border: silver !default;
$tool-tab-background-hover: #f0f0f0 !default;

$site-hierarchy-separator-color: $swapped-view-text-color !default;

$tool-title-nav-link-background: $tool-tab-background-color !default;
$tool-title-nav-link-color: $primary-color !default;
$tool-title-nav-link-border: $tool-border-color !default;
$tool-title-nav-link-background-hover: $tool-background-color !default;
$tool-title-nav-link-color-hover: $primary-color !default;

//mobile
$mobile-tools-and-sites-bar-background: lighten($tool-menu-color, 15% ) !default;
$mobile-tools-and-sites-bar-color: black !default;
$mobile-breadcrumbs-bar-background: $primary-color !default;
$mobile-breadcrumbs-bar-color: $background-color !default;

$soft-color: #d9eef7 !default;
$soft-accent: #85c8e4 !default;

//tools
$lessons-checklist-background: $soft-color;
$samigo-info-background: $soft-color;
$samigo-info-border-color: darken($soft-color, 10%);
$samigo-info-color: black !default;
$samigo-settings-accordion-header-active: #007fff !default;

.Mrphs-topHeader {
  a{
    color: $top-header-text-color;
  }
  .Mrphs-headerLogo .Mrphs-headerLogo--institution {
    margin: 15px 0px;
    @media (max-width: $break-small-end){
      margin: 0px;
      height: 40px;
      width: 100%;
    }
  }
}

// This is the separator between the Sites and Sakai menus in the top right corner
.is-maximized #loginLinks {
  border-color: transparent;
}

#selectSiteModal {
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  @media (max-width: $break-small-end){
      transform: none;
    }
  &::after {
    display: none;
  }
}


//Change default color of Tools and Sites bar on mobile
.Mrphs-skipNav__menu .Mrphs-skipNav__menuitem .Mrphs-skipNav__link{
  @media (max-width: $break-small-end){
     background: $mobile-tools-and-sites-bar-background;
     color: $mobile-tools-and-sites-bar-color;
  }
}

.Mrphs-userNav__submenuitem--profilepicture{
  border: 1px solid $avatar-border-color;
}

#toolMenu ul li a, #subSites ul li a {
    padding: 0.7em 0.5em;
    text-align: left;
    @media (max-width: $break-small-end){
      padding: 0.85em 0.25em 0.1em;
      text-align: center;
    }
}

#toolMenu ul li .Mrphs-toolsNav__menuitem--icon, #subSites ul li .Mrphs-toolsNav__menuitem--icon {
    margin: 0 0.25em 0 0;
    display: inline-block;
    width: 18%;
    height: 100%;
    padding: 0 0.2em 0 0.2em;
    @media (max-width: $break-small-end){
      display: block;
      width: auto;
      height: auto;
      padding: 0px;
    }
}

#toolMenu ul li a .Mrphs-toolsNav__menuitem--title, #subSites ul li a .Mrphs-toolsNav__menuitem--title{
  display: inline-block;
  width: 75%;
  white-space: pre;
  overflow: hidden;
  vertical-align: middle;
  @media (max-width: $break-small-end){
    display: inline;
    width: 100%;
    white-space: pre-wrap;
    vertical-align: baseline;
  }
}

//instruction boxes: Sakai creates variables for these colors but doesn't use them.
.instruction{
   background: $info-background-color !important;
   border-color: $info-color !important;
   color: black !important;
}

.bs-callout-primary, .bs-callout-info, .messageInformation, .messageInstruction, .messageProgress {
  color: black;
  background: $soft-color;
}

.Mrphs-siteHierarchy{
  @media (max-width: $break-small-end){
    flex-wrap: wrap;
  }
  min-height: 55px;
  .Mrphs-hierarchy--siteName, .Mrphs-hierarchy--siteNameSeparator, .Mrphs-hierarchy--toolName{
    display: none;
    @media (max-width: $break-small-end){
      display: inline-block;
    }
  }
  a.Mrphs-hierarchy--toolName {
    &:hover {
      border-bottom: 0px;
      span {
        text-decoration:underline;
        &.Mrphs-breadcrumb--icon {
          text-decoration: none;
        }
      }
    }
  }

  .Mrphs-hierarchy--siteNameSeparator{
    color: $site-hierarchy-separator-color;
  }
  //Change default color of Breadcrumbs bar on mobile
  @media (max-width: $break-small-end){
    background: $mobile-breadcrumbs-bar-background;
    a{
      color: $mobile-breadcrumbs-bar-color;
      &:hover {
        color: $mobile-breadcrumbs-bar-color;
      }
    }
  }
}

.tracs-sites #linkNav ul.Mrphs-sitesNav__menu {
  li.Mrphs-sitesNav__menuitem {
    margin: 0 0.75em 0.75em 0;
    padding: .2em;
    position: relative;
    font-weight: 500;
    .view-all-sites-btn {
      display: inline;
      z-index: auto !important;
      i {
        margin-right: 0.35em;
      }
    }
  }
  .Mrphs-sitesNav__submenuitem {
    a {
      margin: 0 0 0 0;
    }
  }
}

.navIntraTool li span a{
  background-color: $tool-tab-background;
  border: 1px solid $tool-tab-border;
  &:hover{
    background-color: $tool-tab-background-hover;
  }
}

//tool buttons (link and help, among others)
.Mrphs-toolTitleNav .Mrphs-toolTitleNav__link{
  background: $tool-title-nav-link-background;
  color: $tool-title-nav-link-color;
  border-color: $tool-title-nav-link-border;
  &:hover{
    background: $tool-title-nav-link-background-hover;
    text-decoration: none;
    color: $tool-title-nav-link-color-hover;
  }
}

// //get rid of background gradient used on mobile
body.Mrphs-portalBody{
  @media (max-width: $break-small-end){
     background: none;
  }
}

#mastLogin ul#quickLinks {
  display: none;
  @media (max-width: $break-small-end){
     display: block;
  }
}

// samigo
.Mrphs-sakai-samigo{
  #samigo-create-new-box, #samigo-create-import-box {
    background-color: $samigo-info-background;
    border-color: $samigo-info-border-color;
    color: $samigo-info-color;
    h4 {
      color: $samigo-info-color;
    }
  }
  #assessmentSettingsAction {
    #jqueryui-accordion {
      .ui-accordion-content {
        background-color: transparent;
      }
      .ui-accordion-header.ui-accordion-header-active.ui-state-active {
        background-color: $samigo-settings-accordion-header-active;
        a {
          color: #454545;
        }
        span {
          background-image: url("images/ui-icons_777777_256x240.png");
        }
      }
    }
  }
}

// lessons
.Mrphs-sakai-lessonbuildertool {
  .checklistDiv, .questionDiv .contentCol, .commentDiv, .studentContentTable {
    background-color: $lessons-checklist-background;
  }
  input.question-submit[type="submit"]{
    &:hover {
      color: white !important;
    }
  }
  .neoPortletTitleWrap {
    .title .breadcrumbs h2 {
      font-size: 1.5rem;
      .Mrphs-breadcrumb--icon {
        font-size: 1.5rem;
        margin-right: 3px;
        vertical-align: middle;
      }
    }
  }
}

.addedCrumbs {
  .Mrphs-hierarchy--separator {
    color: $site-hierarchy-separator-color;
  }
  span a {
    &:hover {
      text-decoration: underline;
    }
  }
  .lessons-siteHierarchy-title {
    color: $mobile-breadcrumbs-bar-color;
    &:hover {
      color: $mobile-breadcrumbs-bar-color;
    }
  }
}

