/* TRACS default skin Customization*/

@import "tracs-skins/tracs-all";

/* Color palette */
$maroon:        #501214;
$sandstone:     #eae3db;
$dust-storm:    #ddd2c6;
$river:         #8baea1;
$blue:          #005481;
$platinum:      #e5e5e5;
$sapphire:      #15597e;  //what is this used for?
$medium-blue:   #326B97;  //not sure about this one either
$khaki:         #bdab91;
$snow:          #fafafa;
$sandstone-orig: #e8e3db;
$rain:          #e8efed;
$gold:          #8d734a;

/* Top Header */
$top-header-background: none;
$top-header-text-color: $maroon;

$selected-tool-border: 1px solid $blue;
$selected-tool-background: $white;

/* This is the gradient in the header of the page, but we don't want a gradient. */
$header-gradient-a: $maroon;
$header-gradient-b: $maroon;
$header-gradient-c: $maroon;
$header-gradient-d: $maroon;

/* Tool Menu */
$tool-menu-background-color: $sandstone;
$tool-menu-color: $charcoal;
$tool-menu-current-background-color: $white;
$tool-menu-current-color: $maroon;
$tool-menu-current-border-color: $maroon;
$tool-menu-hover-color: $charcoal;
$tool-menu-hover-background-color: $dust-storm;
$tool-tab-background-color: $sandstone;

/* Information section */
$info-color:                $river;
$info-background-color:     mix($river, $white, 10);

$soft-color:                $rain;
$soft-accent:               $gold;

/* Intratool Nav */
$tool-tab-background: $aluminum;
$tool-tab-border: $khaki;
$tool-tab-background-hover: $snow;

/* General button colors */
$button-color-text-color: $white;
$button-color-border-color: $maroon;
$button-color-background-color: $maroon;
$button-color-background-secondary-color: mix($maroon, $black, 70);

$tool-title-nav-link-background: $white;
$tool-title-nav-link-color: $charcoal;
$tool-title-nav-link-border: $maroon;
$tool-title-nav-link-background-hover: $sandstone;
$tool-title-nav-link-color-hover: $charcoal;

$site-hierarchy-separator-color: $charcoal;

$sites-nav-menu-item-background:            $sandstone;
$sites-nav-menu-item-color:                 $charcoal;
$sites-nav-menu-item-color-hover:           $charcoal;
$sites-nav-menu-item-border-top:            1px solid $khaki; 
$sites-nav-menu-item-border-right:          1px solid $khaki;
$sites-nav-menu-item-border-bottom:         1px solid $khaki;
$sites-nav-menu-item-border-left:           1px solid $khaki;
$sites-nav-menu-item-selected-background:   $white;
$sites-nav-menu-item-selected-color:        $maroon;
$sites-nav-menu-item-selected-color-hover:  $maroon;
$sites-nav-menu-item-selected-border-top:   1px solid $platinum; 
$sites-nav-menu-item-selected-border-right: 1px solid $platinum;
$sites-nav-menu-item-selected-border-bottom:1px solid $platinum;
$sites-nav-menu-item-selected-border-left:  1px solid $platinum;

$sites-nav-submenu-selected-background:     $sandstone-orig;
$sites-nav-submenu-item-selected-background:$sandstone-orig;
$sites-nav-submenu-item-selected-color:     $charcoal;

$topNav-text-color: $maroon;

/* Tool customizations */
$calendar-event-background-color: darken($sandstone, 40%);
$calendar-event-text-color: $charcoal;

$samigo-info-background:                    $soft-color;
$samigo-info-border-color:                  darken($soft-color, 10%);
$samigo-info-color:                         $black;

$lessons-checklist-background:              $soft-color;

/* mobile */
$mobile-tools-and-sites-bar-background: $maroon;
$mobile-breadcrumbs-bar-background: $sandstone;
$mobile-breadcrumbs-bar-color: $maroon;
