
#session-history {
    padding: 10px;
}

#session-history table {
    border: 1px solid #c2c2c2;
    border-collapse: collapse;
    border-spacing: 0;
}

#session-history td, #session-history th {
    border: 1px solid #c2c2c2;
    padding: .75em 1em;
}

#session-history tr:nth-child(even) td {
    background-color: #f2f2f2;
}

#session-history thead {
    background-color: #e0e0e0;
}

#history-button {
    display: block;
    border: none;
    background: none;
    text-decoration: underline !important;
    letter-spacing: inherit;
    cursor: pointer;
    color: #2a94c0 !important;
}